.formForPassword {
    height: 2vh;
    width: 100vw;
    text-align: center;
}

.inputPassword {
    padding: 3px;
    box-shadow: 3px 3px 5px grey;
    font-size: 14px;
    font-weight: 600;
    width: 300px;
    height: 30px;
}

.labelCss {
    color: #B4886B;
    font-weight: bold;
    width: 130px;
    float: center;

}